@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

a {
    text-decoration: none;
    color: white;
}

/* main{
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    /* justify-content: center; */
    /*align-items: center;
} */

.grid{
    width:70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 3%;
}

.grid div{
    width: 100% ;
}
.grid img{
    width: 100%;
}

form{
    width:50% ;
}
form div{
    margin: 3%;
}

.main_lvl{
    background-image: url(src/img/background_git.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.frame{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.frame h1,.frame_profil h1{
    margin-top: 2em;
}
.frame form , .frame_profil form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    align-items: center;
    
}
.frame select , .frame input , .frame_profil input{
    margin: 2%;
    padding: 3%;
    width: 70%;
    background: transparent;
    color:black;
    font-weight: 700;
    font-size: large;
    border: 1px solid white;
    
}
.frame option , .frame input, .frame_profil input{
    background: transparent;
    font-weight: 700;

} 

.frame input::placeholder, .frame_profil input::placeholder {
    color: black;
}

.frame button, .frame_profil button{
    width:50%;
    margin:3%;
    padding: 3%;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: medium;
    cursor: pointer;
    text-transform: uppercase;
}

.div {
    display: flex;

}

.div button {
    margin: 2%;
}

.form_profil {
    width: 70%;
}

/**** HEADER ****/

header {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: black;
    color: white;
}

.div_header {
    display: inline-block;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.div_header span {
    display: block;
    width: 20%;
    margin: auto!important;
}

/**** FOOTER ****/
footer {
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
  
}
/* PAGE WALL OF FAME */
.main_wof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(src/img/background_git2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
}
.main_wof h1{
    margin: 3% !important;
}
.table{
    width:70%;
    color: white;
    margin: 1% !important;
}

.filter{
    display: flex;
    width: 100%;
}
.filter div{
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin: 0;
}

.btn{
    
    height: 10vh;
    font-weight: 700;
   
}
