@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Tycoon";
    src: url("src/font/TytoonMist.otf"),
         url("src/font/TytoonMist.ttf");

} 
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif ;
}


a {
    text-decoration: none!important;
    color: white;
}
/*PAGE INDEX */

.main_index{
    width: 100%;
    height: 100vh;
    display: flex;
    
    
}


.div_left, .div_right{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.div_left div, .div_right div{
    width: 50%;
    
}
.div_right {  
    align-items: flex-end;
   
}

.img_index{
    width: 100%;
}

.index_choice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    
}
.big_title{
    font-family: "Tycoon" !important;
    letter-spacing: 5px;
    font-size: 5em;
    width: 100%;
    text-align: center;

}

.choices{
    padding: 3%;
    background: #00a8ff;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    text-align:center;
    
}

.choices:hover{
    opacity: 0.6;
}


/****PAGE MEMORY****/



.main_memory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    background: #dfe4ea;
    min-height: 100vh;
    
}

.go_back_button{
    width: 5%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.go_back_button img{
    width: 100%;
}

.grid{
    width:70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 1%;
    column-gap: 3%;
    position: relative;
    margin-top: 2%;
}

.grid div{
    width: 100% ;
}
.grid img{
    width: 100%;
}
.link_memory{
    color: #00a8ff;
    font-size: 1.5em;
    font-weight: 800;
}

form{
    width:50% ;
}
form div{
    margin: 3%;
}

.main_lvl{
    background-image: url(src/img/background_git.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.frame{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.frame h1{
    margin-top: 2em;
}
.frame form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    align-items: center;
    
}
.frame select , .frame input {
    margin: 2%;
    padding: 3%;
    width: 90%;
    background: transparent;
    color:black;
    font-weight: 700;
    font-size: large;
    border: 1px solid white;
    
}
.frame option , .frame input, .frame_profil input{
    background: transparent;
    font-weight: 700;

} 

.frame input::placeholder, .frame_profil input::placeholder {
    color: black;
}

.frame button{
    width:50%;
    margin:3%;
    padding: 3%;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: medium;
    cursor: pointer;
    text-transform: uppercase;
}

.div {
    display: flex;

}

.div button {
    margin: 2%;
}

.form_profil {
    width: 70%;
}

.covered:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .success{
     color:#4cd137;
     font-weight: 900;
     font-size: 2em;

  }

  @keyframes backInDown {
    0% {
      -webkit-transform: translateY(-1200px) scale(0.7);
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  .animate__backInDown {
    -webkit-animation-name: backInDown;
    animation-name: backInDown;
    animation-duration: 2s;
    position: absolute;
    width: 50%;
    height: 60vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    
  }
  .animate__backInDown div{
    padding: 1em;
    
  }
  .animate__backInDown p{
      font-weight: bold;
      
  }

/**** HEADER ****/

header {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: black;
    color: white;
}

.div_header {
    display: inline-block;
}

header nav {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.div_header span {
    display: block;
    width: 20%;
    margin: auto!important;
}

@media screen and (max-width: 600px){
    header
}

/**** FOOTER ****/
.footer {
    
    text-align: center;
    position: absolute;
    left: 38%;
    bottom: 2%;  
  
}

footer{
    text-align: center;
}

/* PAGE WALL OF FAME */
.main_wof{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-image: url(src/img/background_git2.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    color: white;
}
.main_wof h1{
    margin: 3% !important;
}
.table{
    width:70%;
    color: white;
    margin: 1% !important;
}

.filter{
    display: flex;
    width: 100%;
    margin: 3%;
    font-weight: 700;
}
.filter div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.filter p{
    margin:0;
}

.filterby{
    width: 40%;
}

.filter div select{
    width: 50%;
    height: 20px;
}

.main_profil {
    background-image: url(src/img/background_git.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
   
}



.frame_profil form{
    width: 50%;
    margin: 4% auto;
}

.filterby div{
    width: 80%;
}
.filterby label{
    width: 70%;
    margin-left: 3%;
}
.button{
    width: 20%;
    display: flex;
    align-self: flex-start;
}

.filter select{
    width: 50%;
}

.btn{
    font-weight: 700;
     
}

/*** PROFIL ***/

h3 {
    padding: 4%;
    text-align: center;
}
.main_profil h1 {
    text-align: center;
    padding: 3%;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table_profil {
    width: 90%!important;
    margin: 0 auto!important;
}

.table_profil2 {
    width: 70%!important;
    margin: 0 auto!important;
}

.frame_profil form {
    text-align: center;
}
.frame_profil input {
    margin: 1%;
    padding: 1%;
    width: 70%;
    background: transparent;
    color: black;
    font-weight: 700;
    font-size: large;
    border: 1px solid white;
}
.frame_profil button {
    width: 35%;
    margin: 2%;
    padding: 2%;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: medium;
    cursor: pointer;
    text-transform: uppercase;
}

.supprimer {
    width: 50%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

.supprimer button {
    margin: 1%;
}
.supprimer button a {
    color: black;
}
.div_tableau1 {
    width: 62%;
    margin: 0 auto!important;
    display: flex;
    flex-direction: column;
}
.div_tableau2 {
    width: 100%;
    margin: 0 auto!important;
    display: flex;
    flex-direction: column;
}



